{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
    <h1>{% trans "Book List" %}</h1>
    <table>
        <tr>
            <th>{% trans "Book ID" %}</th>
            <th>{% trans "Book Title" %}</th>
            <th>{% trans "Author" %}</th>
            <th>{% trans "Price" %}</th>
        </tr>
        {% for book in book_list %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.price }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>